.headline {
	font-weight: 300;
	font-size: 1.9rem;
	color: $mainBlue;
	
	@mixin atSmall {
		font-size: 2.875rem;
	}
	
	&--centered {
		text-align: center;
	}
	&--orange {
		color: $mainOrange;
	}
	&--small {
		font-size: 1.2rem;
		@mixin atSmall {
			font-size: 1.875rem;
		}
	}
	&--narrow {
		max-width: 500px;    /* forces wrap */
		margin-left: auto;   /* centers horizontally */
		margin-right: auto;	 /* centers horizontally */
	}
	&--light {
		font-weight: 100;
	}

	&--b-margin-small {
		margin-bottom: .5em; /* em instead of rem, relative to itself */
	}

	&--b-margin-large {
		margin-bottom: 1.6em;
	}

	&--no-t-margin {
		margin-top: 0;
	}

}