/* starting with the _ indicates its a "partial file" to other developers */
/* partial files are usually imported into other main css files with "@import" */

/* Using B.E.M. arrangement here.  B=Block E=Element M=Modifier
   The class name is the block then the element after 2 underscores */

.large-hero {
	border-bottom: 10px solid $mainBlue;
	position: relative;
	
	&__image {				/* Nesting the B.E.M. way. GULP adds on whatever is */
		display: block;     /* after the &. Allowing for NESTED CSS*/
	}
	
	&__text-content {    
	position: absolute;
	top: 50%;
	transform: translateY(-50%);  /* Positions vertically related to itself */
	left: 0;
	width: 100%;
	text-align: center;
	padding-top: 88px;
	
		@mixin atMedium {
			padding-top: 60px;	
		}
	}

	&__title {					/* BASELINE STYLES */
	font-weight: 300;
	color: $mainBlue;         /* Variable established in _variables.css */
	font-size: 2.4rem;        /* rem = relative to the <html> element. Most sites use */
	margin: 0;                /* 16px as its default size. rem of 1.5 would equal 24px */
	
		@mixin atSmall {      /* MOBILE FIRST CSS PATTERN - SEE _mixins.css */
			font-size: 4.8rem;
		}
	}

	&__subtitle {
	font-weight: 300;
	color: $mainBlue;
	font-size: 1.5rem;
	margin: 0;
	
		@mixin atSmall {
			font-size: 2.9rem;
		}
	}

	&__description {
		color: #fff;
		font-size: 1.1rem;
		font-weight: 100;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;
		
			@mixin atSmall {
				font-size: 1.875rem;	
			}
	}
}



