.site-header {
	padding: 10px 0;
	position: absolute;
	width: 100%;
	z-index: 2;
	transition: background-color .3s ease-out;
	
	&--is-expanded {
		background-color: rgba($mainBlue, .55);
	}
	
	@mixin atMedium {
		position: fixed;
		background-color: rgba($mainBlue, .3);
		
		&--dark {
			background-color: rgba(23, 51, 72, .85); 
		}
	}
	
	&__btn-container {
		@mixin atMedium {
			float: right;
		}
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%) scale(.8);
		transform-origin: 50% 0%;
		background-color: $mainBlue;
		padding: 25px 36px;
		transition: transform .3s ease-out;
		
		@mixin atMedium {
			left: auto;
			transform: translateX(0);
			
			.site-header--dark & {          /* targets site-header logo */
				transform: scale(.55);
			}
		}
	}

	&__logo__graphic {
		text-indent: -9999px
	}
	
	&__menu-icon {
		width: 20px;
		height: 19px;
		position: absolute;
		z-index: 10;  /* so icon isnt covered by appearing nav */
		top: 10px;
		right: 10px;
		
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: white;
			transform-origin: 0 0;
			transition: transform .3s ease-out;
		}

		&__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: white;
			transform-origin: 0 50%;
			transition: all .3s ease-out;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: white;
			transform-origin: 0 100%;
			transition: transform .3s ease-out;
		}
		
		@mixin atMedium {
			display: none; 
		}
	}

	&__menu-icon--close-x {
		&::before {
			transform: rotate(45deg) scaleX(1.25);
		}

		&::after {
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}

		.site-header__menu-icon__middle {
			opacity: 0;
			transform: scaleX(0);
		}
	}

	&__menu-content {
		opacity: 0;
		transform: scale(1.2);
		transition: all .3s ease-out;
		position: relative;
		z-index: -10;
		padding-top: 90px;
		text-align: center;
		
		@mixin atMedium {
			opacity: 1;
			z-index: 1;
			padding-top: 0px;
			transform: scale(1);
			
 		}

 		&--is-visible {
 			opacity: 1;
 			z-index: 1;
 			transform: scale(1);
 		}
	}

}

